%h1.header Control Alert System

- if @app_db.alarm_activated?
  .uk-alert.uk-alert-danger.uk-alert-large
    %h2 Alert is running

    %p Call the police and stop the alert
    %p
      %form{action: '/stop', method: 'post'}
        %button.uk-button.uk-button-large.uk-button-success{type: "submit"}
          Stop
- else
  .uk-alert.uk-alert-large
    %h2 Start Test

    %p The alert will start clicking this Button
    %p
      %form{action: '/start', method: 'post'}
        %button.uk-button.uk-button-large.uk-button-danger{type: "submit"}
          Start
